<div class="container-fluid">
  <div class="row infoBox img-responsive">
    <a href="/#/listing/<%= listing.escape('id') %>">
      <img class="img-responsive img-thumbnail" src="<%= listing.get('images')[Math.floor ( Math.random() * 3 )].url %>"></img>
    </a>
  </div>
<br>
  <div class="row pull-left">
    <a href="/#/listing/<%= listing.escape('id') %>"><%= listing.escape("list_title").toUpperCase() %></a>

    <div class="infoBox-Price-Container">
      <div class="infoBox-Price">
        <strong>Rent This Ride For $<%= listing.escape("price") %> A Day</strong>
      </div>
    </div>
  </div>
</div>
