<div class="container-fluid">
  <hr>
  <div class="text-center">
    <h2>Go on an Adventure Today</h2>
    <h3>Pick a Ride and Go</h3>
  </div>
  <hr>


  <div class="row center-row center-piece-row" id="home-centerpiece-container">
    <div class="col-xs-4 column" id="home-center-pictures">
      <a href="/#/listing/<%= listings[22].escape('id') %>">
        <img alt="" class="img-responsive img-thumbnail round-corners" src="<%= listings[22].get('images')[0].url %>"></img>
      </a>
    </div>
    <div class="col-xs-4 column" id="home-center-pictures">
      <a href="/#/listing/<%= listings[0].escape('id') %>">
        <img alt="" class="img-responsive img-thumbnail round-corners" src="<%= listings[0].get('images')[0].url %>"></img>
      </a>
    </div>
    <div class="col-xs-4 column" id="home-center-pictures">
      <a href="/#/listing/<%= listings[16].escape('id') %>">
        <img alt="" class="img-responsive img-thumbnail round-corners" src="<%= listings[16].get('images')[0].url %>"></img>
      </a>
    </div>
  </div>
  <hr>
  <div class="row center-row center-piece-row">
    <div class="col-xs-4 column" id="home-center-pictures">
      <a href="/#/listing/<%= listings[23].escape('id') %>">
        <img alt="" class="img-responsive img-thumbnail round-corners" src="<%= listings[23].get('images')[0].url %>"></img>
      </a>
    </div>
    <div class="col-xs-4 column" id="home-center-pictures">
      <a href="/#/listing/<%= listings[21].escape('id') %>">
        <img alt="" class="img-responsive img-thumbnail round-corners" src="<%= listings[21].get('images')[0].url %>"></img>
      </a>
    </div>
    <div class="col-xs-4 column" id="home-center-pictures">
      <a href="/#/listing/<%= listings[4].escape('id') %>">
        <img alt="" class="img-responsive img-thumbnail round-corners" src="<%= listings[4].get('images')[0].url %>"></img>
      </a>
    </div>
  </div>
  <hr>
  <div class="row center-row center-piece-row">
    <div class="col-xs-4 column" id="home-center-pictures">
      <a href="/#/listing/<%= listings[20].escape('id') %>">
        <img alt="" class="img-responsive img-thumbnail round-corners" src="<%= listings[20].get('images')[0].url %>"></img>
      </a>
    </div>
    <div class="col-xs-4 column" id="home-center-pictures">
      <a href="/#/listing/<%= listings[19].escape('id') %>">
        <img alt="" class="img-responsive img-thumbnail round-corners" src="<%= listings[19].get('images')[0].url %>"></img>
      </a>
    </div>
    <div class="col-xs-4 column" id="home-center-pictures">
      <a href="/#/listing/<%= listings[11].escape('id') %>">
        <img alt="" class="img-responsive img-thumbnail round-corners" src="<%= listings[11].get('images')[0].url %>"></img>
      </a>
    </div>
  </div>
  <hr>
</div>
