<div class="row center-row">
  <div class="col-xs-4 column">
    <a href="/#/listing/<%= listings[2].escape('id') %>">
      <img alt="" class="img-responsive img-center" src="<%= listings[2].escape('feature_img') %>"></img>
    </a>
  </div>
  <div class="col-xs-4 column">
    <a href="/#/listing/<%= listings[2].escape('id') %>">
      <img alt="" class="img-responsive img-center" src="<%= listings[2].escape('feature_img') %>"></img>
    </a>
  </div>
  <div class="col-xs-4 column">
    <a href="/#/listing/<%= listings[2].escape('id') %>">
      <img alt="" class="img-responsive img-center" src="<%= listings[2].escape('feature_img') %>"></img>
    </a>
  </div>
</div>
<div class="row center-row">
  <div class="col-xs-4 column">
    <a href="/#/listing/<%= listings[2].escape('id') %>">
      <img alt="" class="img-responsive img-center" src="<%= listings[2].escape('feature_img') %>"></img>
    </a>
  </div>
  <div class="col-xs-4 column">
    <a href="/#/listing/<%= listings[2].escape('id') %>">
      <img alt="" class="img-responsive img-center" src="<%= listings[2].escape('feature_img') %>"></img>
    </a>
  </div>
  <div class="col-xs-4 column">
    <a href="/#/listing/<%= listings[2].escape('id') %>">
      <img alt="" class="img-responsive img-center" src="<%= listings[2].escape('feature_img') %>"></img>
    </a>
  </div>
</div>
<div class="row center-row">
  <div class="col-xs-4 column">
    <a href="/#/listing/<%= listings[2].escape('id') %>">
      <img alt="" class="img-responsive img-center" src="<%= listings[2].escape('feature_img') %>"></img>
    </a>
  </div>
  <div class="col-xs-4 column">
    <a href="/#/listing/<%= listings[2].escape('id') %>">
      <img alt="" class="img-responsive img-center" src="<%= listings[2].escape('feature_img') %>"></img>
    </a>
  </div>
  <div class="col-xs-4 column">
    <a href="/#/listing/<%= listings[2].escape('id') %>">
      <img alt="" class="img-responsive img-center" src="<%= listings[2].escape('feature_img') %>"></img>
    </a>
  </div>
</div>
