<div class="container-fluid">
  <hr>
  <div class="text-center">
    <h2>Go on an Adventure Today</h2>
    <h3>Pick a Ride and Go</h3>
  </div>
  <hr>

  <div class="row center-row center-piece-row" id="home-centerpiece-container">
    <div class="col-xs-4 column grow" id="home-center-pictures">
      <!-- <% debugger %> -->
      <a href="/#/listing/<%= listings[22].escape('id') %>">
        <img alt="" class="img-responsive img-thumbnail" src="<%= listings[22].escape('feature_img') %>"></img>
      </a>
    </div>
    <div class="col-xs-4 column grow" id="home-center-pictures">
      <a href="/#/listing/<%= listings[0].escape('id') %>">
        <img alt="" class="img-responsive img-thumbnail" src="<%= listings[0].escape('feature_img') %>"></img>
      </a>
    </div>
    <div class="col-xs-4 column grow" id="home-center-pictures">
      <a href="/#/listing/<%= listings[16].escape('id') %>">
        <img alt="" class="img-responsive img-thumbnail" src="<%= listings[16].escape('feature_img') %>"></img>
      </a>
    </div>
  </div>
  <hr>
  <div class="row center-row center-piece-row">
    <div class="col-xs-4 column grow" id="home-center-pictures">
      <a href="/#/listing/<%= listings[23].escape('id') %>">
        <img alt="" class="img-responsive img-thumbnail" src="<%= listings[23].escape('feature_img') %>"></img>
      </a>
    </div>
    <div class="col-xs-4 column grow" id="home-center-pictures">
      <a href="/#/listing/<%= listings[21].escape('id') %>">
        <img alt="" class="img-responsive img-thumbnail" src="<%= listings[21].escape('feature_img') %>"></img>
      </a>
    </div>
    <div class="col-xs-4 column grow" id="home-center-pictures">
      <a href="/#/listing/<%= listings[4].escape('id') %>">
        <img alt="" class="img-responsive img-thumbnail" src="<%= listings[4].escape('feature_img') %>"></img>
      </a>
    </div>
  </div>
  <hr>
  <div class="row center-row center-piece-row">
    <div class="col-xs-4 column grow" id="home-center-pictures">
      <a href="/#/listing/<%= listings[19].escape('id') %>">
        <img alt="" class="img-responsive img-thumbnail" src="<%= listings[19].escape('feature_img') %>"></img>
      </a>
    </div>
    <div class="col-xs-4 column grow" id="home-center-pictures">
      <a href="/#/listing/<%= listings[20].escape('id') %>">
        <img alt="" class="img-responsive img-thumbnail" src="<%= listings[20].escape('feature_img') %>"></img>
      </a>
    </div>
    <div class="col-xs-4 column grow" id="home-center-pictures">
      <a href="/#/listing/<%= listings[11].escape('id') %>">
        <img alt="" class="img-responsive img-thumbnail" src="<%= listings[11].escape('feature_img') %>"></img>
      </a>
    </div>
  </div>
  <hr>
</div>
