<hr>
<div class="text-center">
  <h2>Go on an Adventure Today</h2>
  <h3>Pick a Ride and Go</h3>
</div>
<hr>

<div class="row center-row center-piece-row" style="height: 300px;">
  <div class="col-xs-4 column" style="height: 100%;">
    <a href="/#/listing/<%= listings[11].escape('id') %>">
      <img alt="" class="img-responsive img-thumbnail" src="<%= listings[11].escape('feature_img') %>"></img>
    </a>
  </div>
  <div class="col-xs-4 column" style="height: 100%;">
    <a href="/#/listing/<%= listings[10].escape('id') %>">
      <img alt="" class="img-responsive img-thumbnail" src="<%= listings[10].escape('feature_img') %>"></img>
    </a>
  </div>
  <div class="col-xs-4 column" style="height: 100%;">
    <a href="/#/listing/<%= listings[4].escape('id') %>">
      <img alt="" class="img-responsive img-thumbnail" src="<%= listings[4].escape('feature_img') %>"></img>
    </a>
  </div>
</div>

<div class="row center-row center-piece-row" style="height: 300px; margin: 5px 0 5px 0;">
  <div class="col-xs-4 column" style="height: 100%;">
    <a href="/#/listing/<%= listings[7].escape('id') %>">
      <img alt="" class="img-responsive img-thumbnail" src="<%= listings[7].escape('feature_img') %>"></img>
    </a>
  </div>
  <div class="col-xs-4 column" style="height: 100%;">
    <a href="/#/listing/<%= listings[6].escape('id') %>">
      <img alt="" class="img-responsive img-thumbnail" src="<%= listings[6].escape('feature_img') %>"></img>
    </a>
  </div>
  <div class="col-xs-4 column" style="height: 100%;">
    <a href="/#/listing/<%= listings[3].escape('id') %>">
      <img alt="" class="img-responsive img-thumbnail" src="<%= listings[3].escape('feature_img') %>"></img>
    </a>
  </div>
</div>

<div class="row center-row center-piece-row" style="height: 300px;">
  <div class="col-xs-4 column" style="height: 100%;">
    <a href="/#/listing/<%= listings[1].escape('id') %>">
      <img alt="" class="img-responsive img-thumbnail" src="<%= listings[1].escape('feature_img') %>"></img>
    </a>
  </div>
  <div class="col-xs-4 column" style="height: 100%;">
    <a href="/#/listing/<%= listings[2].escape('id') %>">
      <img alt="" class="img-responsive img-thumbnail" src="<%= listings[2].escape('feature_img') %>"></img>
    </a>
  </div>
  <div class="col-xs-4 column" style="height: 100%;">
    <a href="/#/listing/<%= listings[0].escape('id') %>">
      <img alt="" class="img-responsive img-thumbnail" src="<%= listings[0].escape('feature_img') %>"></img>
    </a>
  </div>
</div>
<hr>
