<!DOCTYPE html>
<html>
  <head>
    <title>FixieBNB</title>
    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <section
      style="background-image:url('https://c4.staticflickr.com/4/3855/15135608761_bb36108002_b.jpg');">
        <%= render partial: "layouts/header" %>
        <div class="container" id="content">
          <%= yield %>
        </div>

    </section>

    <section
      style="background-image:url('https://spinlister-belvedere-assets.spinlister.com/spinlister/hero-bike-3bd7f74b3e0ddb213747a663fdca0173.jpg')">
    </section>


    <%= render partial: "layouts/footer" %>
  </body>
</html>
