<!DOCTYPE html>
<html>
<head>
  <title>Project</title>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render partial: "layouts/header" %>

  <div class="flasherrors">
    <%= render partial: "layouts/flasherrors" %>
  </div>

  <div class="text-center">
    <%= yield %>
  </div>

  <%= render partial: "layouts/footer" %>

</body>
</html>
